<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport mode="over">
    <mat-toolbar>
      <button
        type="button"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <div>
        <a mat-list-item (click)="drawer.toggle()" routerLink="/home" routerLinkActive="selected">
          Home
        </a>
        <a mat-list-item (click)="drawer.toggle()" routerLink="/account" routerLinkActive="selected">
          Account
        </a>
      </div>
      <div class="nav-footer">
        <a mat-list-item (click)="drawer.toggle()" routerLink="/logout" routerLinkActive="selected">
          Logout
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>auth Process</span>

      <span class="spacer"></span>

      <button
        type="button"
        mat-icon-button
        routerLink="/account">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
    <!-- <ng-content></ng-content> -->
  </mat-sidenav-content>
</mat-sidenav-container>
